<%- include('partials/header') %>

    <div class="output-header">
        <h2>Validatation of Mails</h2>
    </div>

    <div class="output-container">

        <!-- valid div -->
        <div class="valid-container">
            <div class="val-inv">
                <h3>Valid mails</h3>
                <% V.forEach(vdata => { %>
                    <div class="data">
                        <p>
                            <%= vdata %>
                        </p>
                    </div>
                    <%}) %>


            </div>
            <p>Valid Email Count :
                <%= V.length%>
            </p>
        </div>
        <!-- invalid-div -->
        <div class="invalid-container">

            <div class="val-inv">
                <h3>Invalid mails</h3>
                <% I.forEach(idata => { %>
                    <div class="data">
                        <p>
                            <%= idata %>
                        </p>
                    </div>
                    <%}) %>

            </div>
            <p>Invalid Email Count :
                <%= I.length %>
            </p>

        </div>

    </div>

    <% if(E) { %>

        <div class="info-container t">
            <p class="">Mail is not sent !! <a href="/howtouse">More info.</a></p>
        </div>

        <% } else { %>

            <div class="info-container f">
                <p class="">Mail sent successfully !!! </p>
            </div>

            <% }%>




                <%- include('partials/footer') %>

                    <script>
                        var e = <%= E %>;
                        if (e) {
                            alert("Invalid Email/Password Mail not sent Please retry with proper mail!!");
                        } else {
                            alert("Mail sent!!");
                        }
                    </script>